
@media (max-width: 992px){
    body{
        background: #fff;
    }
    .grid-width-942{
    width: 100%;
    }


    .grid-m-bottom-132{
        margin-bottom: auto;
    }

    .grid-m-bottom-65{
        margin-bottom: 65px;
    }

}