
@media (max-width: 992px){
    body{
        background: #fff;
    }
    .grid-width-942{
    width: 100%;
    }


    .grid-m-bottom-132{
        margin-bottom: auto;
    }

    .grid-m-bottom-65{
        margin-bottom: 65px;
    }

    .content-desctop{
        display: none;
    }

    .container_mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        margin-top: 0px;
        padding-top: 0px;

        &_1{
            padding-top: 45px;
        }
    }

    .text-mobile_none{
        display: none;
    }
}