@media (min-width: 993px){
    .swiper-container-3{
        display: none;
    }
    .swiper-container-4{
        display: none;
    }
}

@media (max-width: 992px){

    /* ARROW */
    .slide-link.right, .slide-link.left{
        span{
            display: none;
        }
    }

    .slide-link.left{
        top: 390px;
        left: 25%;
        .arrow{
            background: url('../i/prev.svg') no-repeat;
        }
    }
    .slide-link.left.orange .arrow{
        background-position: 16px 38px;    
    }
    .slide-link.left.blue .arrow{
        background-position: 16px 38px;    
    }
    .slide-link.left.pink .arrow{
        background-position: 16px 38px;    
    }

    .slide-link.right{
        top: 390px;
        right: 25%;
        .arrow{
            background: url('../i/next.svg') no-repeat;
        }
    }

    .slide-link.right.pink .arrow {
        background-position: 0 38px;
    }

    .slide-link.right.orange .arrow {
        background-position: 0 38px;
    }

    .slide-link.right.blue .arrow {
        background-position: 0 38px;
        right: 0;
    }

    /* ARROW */

    /* DOTS */

    .main-slider section.blue h1 a{
        color: #191919;
        border: none;
    }

    .main-slider section.blue img{
        bottom: -10px;
    }

    /* DOTS */
    a, .close-link{
        font-style: normal;
    }

    i{
        font-style: normal;
        width: 260px;
        margin: auto;
        margin-top: 15px;
        display: block;
    }

    p, nav ul, .switcher, .container, .carousel{
        margin-top: 45px;
    }


    /* CONTENT */


    .main-slider section.pink .slider-block-link{
        position: relative;
        right: auto;
    }

    .main-slider section.orange .slider-block-link{
        &:first-child{
            display: none;
        }
        &:last-child{
            display: none;
        }
    }

    .main-slider section.orange .bg1{
        display: none;
    }

    .main-slider section.orange .bg2{
        display: none;
    }

    .main-slider section.orange .link-container{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    /* CONTENT */


    /* SWIPER */


    .swiper-container {
        width: 97%;
        height: 73px;

        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .swiper-container-2 {
        width: 97%;
        height: 262px;

        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    /* SWIPER */


    /* CATALOG SLIDER GLOBAL */

    .swiper-container-4{
        padding-top: 70px;

        position: relative;

        height: 100px;
        // display: none;
    }

    .swiper-button-item_global{
        top: 42px !important;
    }

    .swiper-button-item_global:after{
        font-size: 28px !important;
    }

    /* CATALOG SLIDER GLOBAL */


    /* CATALOG SLIDER LOCAL */

      .swiper-container-3 {
        width: 100%;
        height: 240px;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        .swiper-button-prev{
            left:0  !important;
        }
      }
  
      .swiper-slide {
        background-position: center;
      }

      .swiper-slide-bottom{
        border: 2.8px solid #252525;
        background-size: cover;
      }
  
      .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }
  
      .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
      }
      .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
      }

      .swiper-wrapper-top{
          margin: auto;
      }

      .swiper-wrapper-bottom{
        display: flex;
        justify-content: center;
        height: 65px !important;
      }

      .swiper-slide-top{
          width: 100% !important;
          background-repeat: no-repeat;
      }

      .swiper-button-item-1{
          top: 120% !important;
      }

      .swiper-button-item-1:after{
          font-size: 22px !important;
      }



    /* CATALOG SLIDER LOCAL */
}
