.about-company{
    display: none;
}

@media (max-width: 992px){
    .about-company{
        display: block;
        padding-left: 3%;

        margin-top: -120px;
    }

    .about{
        &__content{
            width: 96%;

            position: relative;

            p{
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 139.99%;

                margin-top: 28px;

                height: 265px;

                span{
                    color: #069;
                    text-decoration: underline;
                }

            }

        }
    }

    .about-content{
        &_none{
            display: none;
        }
    }
}