.form__line{
    display: none;
}

@media (max-width: 992px){
    .service-order{
        padding-bottom: 15px !important;
        &__title{
            margin-top: 35px;
        }
        &__subtitle{
            display: none;
        }

        &__form{
            box-shadow: 0px 8px 45px rgba(0, 0, 0, 0.09);
            width: 90%;
        }
    }

    .line__container{
        position: relative;
        width: 100%;
    }

    .form{
        &__container{
            display: flex;
            flex-direction: column;

            input{
                width: 98% !important;
                padding: 0 !important;
                margin: 0 !important;
            }

            textarea{
                width: 94% !important;
            }
        }

        &__container_2{
            display: flex;
            flex-direction: column;
            
            input{
                width: 98% !important;
                padding: 0 !important;
                margin: 0 !important;
            }

            textarea{
                width: 96% !important;
            }

        }

        &__line{
            display: block;

            background: #E9E9E9;
            z-index: 20;
            position: absolute;

            width: 88%;
            left: 29px;

            top: 0px;
        }

        &__label{
            margin-bottom: 12px;
            font-size: 17px;
            width: 100%;
        }

        &__button{
            margin-left: 0 !important;
            width: 147px;
            height: 15px;
            display: block;
            padding: 16px 20px;
            background: #A6A6A6;
            font-size: 17px;
        }

        &__choses{
            padding: 0;
            margin: 29px;
        }

    }

    .materials-order__global{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .grid-border-right-1{
        border-right: none;
        // border-bottom: 1px solid #f1f4f9;
    }
}